
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>db example</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="row">
      <div class="small-6 large-12 columns">
        <h1>DB Example</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-6 large-12 columns">         
        <ul class="accordion" data-responsive-accordion-tabs="tabs medium-accordion large-accordion">
          {{#users}}
          <li class="accordion-item" data-accordion-item>
            <a  class="accordion-title">{{nickname}}</a>
            <div class="accordion-content" data-tab-content>
              loading...
            </div>
          </li>
          {{/users}}
        </ul>
      </div>
	</div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
 </body>
</html>